<section class="panel panel-padding">

    <div class="container">
    <div class="row">
        <div class="col-md-12" style="padding: 0px">
            <div class="well well-sm formulaire">

                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center titreContact ">Contactez-moi</legend>

                        <div class="form-group">
                            <div class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></div>
                            <div class="col-md-8">
                                <input id="lname" name="name" type="text" placeholder="Nom" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></div>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Addresse Email" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></div>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Message..." rows="6"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-default btn-md">Envoyer</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

</section>